<footer class="site-footer">
    <div class="wrap">
        <div>
            <strong>Iguaçu Solar</strong><br>
            <span class="muted">Projeto acadêmico Uninter - Nova Iguaçu - <span id="ano"></span></span>
        </div>
    </div>

    <div class="text-align:center;">
        <img src="/img/devFoto.png" alt="Desenvolvedor" class="dev-foto">
        <p style="margin:6px 0 0; font-size: 13px;" class="muted">
            Desenvolvido por <strong>João Vitor Ferreira Pessoa</strong>
        </p>
    </div>
</footer>
<script>document.getElementById("ano").textContent = new Date().getFullYear();</script>